h1{
    background-color: teal;
    font-size: 50px;
    text-align: center;
    margin: 1px;
    border: solid black;
}

body{
    text-align: center;
}

#board{
    width: 420px;
    height: 425px;
    background-color: teal;
    background-image: url("images/BrickWallJags.png");

    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 430px;
    margin: auto;
    
}

.box{
    width: 140px;
    height: 140px;
    border: 1px solid white;
   cursor: pointer;
   font-size: 80px;
   line-height: 100px;
   color: gold;

}

html{
    background-image: url("images/Lockerroom.png");
}
 