


*>*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-image: url(./images/Lockerroom.png);
}

h1{
    background-color: teal;
    border: solid black;
    padding: 10px;
    text-align: center;
}

/* start game prettiness */
.id{
    height: 150px;
    width: 180px;
}

.container{
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.primeButton{
    border: none;
    background-color: teal;
    padding: 10px;
    border-radius: 10px;
    color: gold;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
}

.beginningText{
    border: none;
    background-color: teal;
    padding: 10px;
    border-radius: 10px;
    color: gold;
    font-size: 40px;
}

.primeButton:hover{
    background-color: aqua;
}

.startGame .profile .img > img{
    cursor: pointer;

} 

.startGame .profile .img > img:hover{
    background-color: aqua;
    border-radius: 20px;
}

.startGame.hide{
    display: none;
}

/* GAME BOARD PRETTINESS */

#board{
    display: grid;
    grid-template-columns: repeat(3,auto);
    background-image: url(./images/BrickWallJags.png);
    row-gap: 3px;
    column-gap: 3px;
}

.block{
    width: 150px;
    height: 150px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.board.x .block:not(.x):not(.y):hover{
    background: url(./images/JamesSmaller.png) white no-repeat;
    opacity: .5;
}

.board.y .block:not(.x):not(.y):hover{
    background: url(./images/TravisSmaller.png) teal no-repeat;
    opacity: .5;
}


/* x is james
y is travis */
.block.x{
    background: url(./images/JamesSmaller.png) white no-repeat;
    background-size: contain;
}

.block.y{
    background: url(./images/TravisSmaller.png) teal no-repeat;
    background-size: contain;
}

/* draw and win screen */

.startGame,.drawMessage, .winMessage{
    position: fixed;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(49, 49, 49, 0.9)
} 

.textColor{
    color: gold;
}

.drawMessage, .winMessage{
    display: none;
}
.drawMessage.show, .winMessage.show{
    display: flex;

}

.startGame .profile .img > img.selected{
    background-color: aqua;
    border: 2px solid gold;
    border-radius: 20px;
}

.win{
    background-color: lime !important;
}